<h2>いちごのショートケーキ(ホール）</h2>
<%= product.name %>
<p>栃木県産のとちおとめを贅沢に使用しています。</p>
<%= product.introduction %>
<h3>¥ 2,750</h3>
<%= product.price %>
<%= form_with model: @cart_product do |f| %>
  <%= f.select :amount, ["1", "1"],["2","2"],["3","3"], include_blank: "個数選択" %>
<% end %>
<%= button_to 'カートに入れる', public_cart_products_path, class: 'fbtn' %>