<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag @product, :image, size: "300x250", fallback: "no_image.jpeg" %>
    </div>
    <div class="col-lg-8">
      <h2><%= @product.name %></h2>
      <p><%= @product.introduction %></p>
      <h4>
        ¥<%= number_with_delimiter(@product.addTax.round, :delimiter => ',') %>(税込)
      </h4>
      <%= form_with model: @cart_product, url:public_cart_products_path(product_id: @product.id), local: true do |f| %>
        <%= f.select :amount, ['1','2','3','4','5','6','7','8','9','10'], {include_blank: "個数選択"} %>
        <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>


