<p id="notice"></p>
  <div class="container">
    <% if @address.errors.any? %>
      <%= @address.errors.count %>件のエラーが発生しました
      <% @address.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
    <%= form_with model:@address, url: public_address_path(@address),method: :patch, local:true do |f| %>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="3">
              <h3>配送先編集</h3>
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th width="200">郵便番号(ハイフンなし)</th>
            <td><%= f.text_field :postal_code, class: "form-control" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th width="200">住所</th>
            <td colspan="3"><%= f.text_field :address, class: "form-control" %></td>
            <td></td>
          </tr>
          <tr>
            <th width="200">宛名</th>
            <td><%= f.text_field :name, class: "form-control" %></td>
            <td></td>
            <td><%= f.submit '変更内容を保存', class: 'btn btn-success' %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>