<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

        <h2 class="index-title">配送先登録/登録一覧</h2>
        <%= form_with model:@address, url: public_addresses_path, local:true do |f| %>
        <h4>郵便番号（ハイフンなし）</h4>
        <%= f.text_field :postal_code %>

        <h4>住所</h4>
        <%= f.text_field :address %>

        <h4>宛名</h4>
        <%= f.text_field :name %>

        <%= f.submit '新規登録', class: 'btn btn-success' %>

        <% end %>

        <table border="1">
          <thead>
            <tr>
              <th>郵便番号</th>
              <th>住所</th>
              <th>宛名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @addresses.each do |address| %>
              <tr>
                <td><%= address.postal_code %></td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td><%= link_to "編集する", edit_public_address_path(address) %> <%= link_to "削除する", public_address_path(address.id), method: :delete, "data-confirm" => "Are you sure?", class: 'btn btn-sm btn-danger' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>