<h2 class="index-title">商品一覧</h2>
<button type="button" class="btn btn-default btn-lg">+</button>
<table class="table">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <% @products.each do |product| %>
  <tbody>
    <tr>
      <td><%= @product.id %></td>
      <td><%= attachment_image_tag @product, :image_id, size: "60x60", fallback: "no_image.jpg"%></td>
      <td><%= link_to @product.name, admin_product_path(@product) %></td>
      <td><%= @product.price %></td>
      <td><%= @product.genre_id %></td>
      <td><%= @product.is_active %></td>
    </tr>
  <% end %>
  </tbody>
</table>
