<h2 class="index-title">商品一覧</h2>
<%= button_to "+", {controller: 'products', action: 'new'}, method: :get %>
<table class="table">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品</th>
      <th>商品名</th>
      <th>商品説明</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <% @products.each do |product| %>
  <tbody>
    <tr>
      <td><%= product.id %></td>
      <td><%= attachment_image_tag product, :image, size: "60x60", fallback: "no_image.jpeg"%></td>
      <td><%= link_to product.name, admin_product_path(product) %></td>
      <td><%= product.introduction %></td>
      <td><%= product.price %></td>
      <td><%= product.genre_id %></td>
      <td><% if product.is_active == false %>
      販売中
      <% else %>
      販売停止中
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @products %>
