<div class="container">
  <div class="row">

    <h2 class="new-title">商品新規登録</h2><br>

    <div class="col-xs-4">
      <%= form_for(@product, url: admin_products_path) do |f| %>

      <div class="product-image">
        <%= attachment_image_tag @product, :image_id, fallback: "no_image.jpg", size:"300x300" %>
      </div><br>

      <%= f.attachment_field :image, placeholder: "商品画像" %>

    </div>
    <div class="col-xs-8">

      <form>
        <div class="new-field">
          <h4><%= f.label :商品名 ,class: "col-xs-3" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class: "col-xs-8"%></h4>
        </div>
        <div class="new-field">
          <h4><%= f.label :商品説明 ,class: "col-xs-3" %>
          <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" ,class: "col-xs-8"%></h4>
        </div>
        <div class="new-field">
          <h4><%= f.label :ジャンル ,class: "col-xs-3 fix" %>
          <%= f.collection_select :genre, Genre.all, :id, :name %></h4>
        </div>
        <div class="new-field">
          <h4><%= f.label :税抜価格 ,class: "col-xs-3 block"  %>
          <%= f.text_field :price, autofocus: true, autocomplete: "price" ,class: "col-xs-8"%></h4>
        </div>
        <div class="new-field">
          <h4><%= f.label :販売ステータス  ,class: "col-xs-3 fix" %>
          <%= f.select :is_active, ["販売中", "販売停止"] ,class: "btn btn-primary"%></h4>
        </div>
        <div class="text-right"><%= f.submit "商品登録" ,class: "btn btn-primary"%></div>
        <% end %>
      </form>

    </div>
  </div>
</div>
