<div class="container">
  <h2 class="show-title">商品詳細</h2>
    <div class="row">
      <div class="col-lg-4">
        <%= attachment_image_tag @product, :image, size: "300x300", fallback: "no_image.jpeg"%><br>
      </div>
      <div class="col-lg-8">
      <h4 style="margin-bottom: 30px;">商品名
        <%= @product.name %>
      </h4>

      <div style="display: flex;">
        <h4 style="margin: 0 30px 30px 0;">商品説明</h4>
        <div style="overflow-wrap: break-word;　word-wrap: break-word; width: 300px;">
          <%= @product.introduction %>
        </div>
      </div>

        <h4 style="margin-bottom: 30px;">ジャンル
          <%= @product.genre.name %>
        </h4>

        <h4 style="margin-bottom: 30px;">税別価格
          <%= @product.price %>円
        </h4>

        <h4 style="margin-bottom: 30px;">販売ステータス
          <%= @product.is_active %>
        </h4>

        <%= button_to '編集する',edit_admin_product_path(@product.id), method: :get ,class: "btn btn-primary ", style: "margin-left:70%;"%>
    </div>
    </div>
</div>
