<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="index-title">注文情報入力</h4>
      <div class="field">
        <%= form_with model: @order, url: public_orders_confirm_path, local: true do |f| %>
          <span class="payment_method">支払い情報</span><br>
          <div class="radio-inline">
            <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
            <%= f.label :クレジットカード, class: "payment_method_label" %>
          </div>
          <div class="radio-inline">
            <%= f.radio_button :payment_method, :銀行振込 %>
            <%= f.label :銀光振込, class: "payment_method_label" %>
          </div>
          <span class="address">お届け先</span><br>
          <div class="radio-inline">
            <%= f.radio_button :address_option, 0, checked: "checked" %>
            <%= f.label :order_address, "ご自身の住所" %><br>
            <%= @customer.postal_code %>
            <%= @customer.address %>
          </div>
          <div class="radio-inline">
            <%= f.radio_button :address_option, 1 %>
            <%= f.label :order_address, "登録済住所から選択" %>
            <%# f.collection_select :order_address , current_customer.address, :id, :address , :include_blank => "選択してください" %>
          </div>
          <div class="radio-inline">
            <%= f.radio_button :address_option, 2 %>
            <%= f.label :order_address, "新しいお届け先" %>
          </div>
            <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
            <%= f.text_field :postal_code, :placeholder => "0000000"  %>
            <br>
            <%= f.label :order_address, "住所" %>
            <%= f.text_field :order_address, :placeholder => "東京都渋谷区代々木神園町0-0" %>
            <br>
            <%= f.label :addresses_name, "宛名" %>
            <%= f.text_field :addresses_name, :placeholder => "令和道子" %><br>
            <%= f.submit "確認画面へ進む" , class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

