<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f3294f4f4d.js" crossorigin="anonymous"></script>

  </head>
    <body id="wrapper" style="background-color: white; font-family: 'Alegreya Sans SC', sans-serif; color: #000000;">
      <div class="big-container">
        <!-- ヘッダー -->
        <div class="header">
          <%= render "layouts/header" %>
        </div>
        <!-- Body部分 -->
        <div class="body">
          <div class="container" style="margin-top: 20px;">
            <% flash.each do |message_type, message| %>
              <%= message %>
            <% end %>
            <%= yield %>
          </div>
          <div class="push"></div>
        </div>
        <div class="footer">
          <!-- フッター -->
          <%= render "layouts/footer" %>
        </div>
      </div>
    </body>
</html>