<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <li>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
    </li>

    <%= yield %>
  </body>
</html>
